.color-star {
    color: #ec891d;
}
.myFontAwesome {
    font-family: FontAwesome;
}
select.myCustomSelect,
select.myCustomSelect option {
    color: yellow !important;
}

.dropdown .btn:not(.btn-sm):not(.btn-lg), .dropdown .btn:not(.btn-sm):not(.btn-lg).dropdown-toggle {
    padding: 0.85rem 1.5rem;
    background: #fff !important;
    color: #888 !important;
    border: 1px solid #d9d9d9 !important;
    outline: #d9d9d9 !important;
}


/* myOrder */
.myOrder {
    padding-top: 20px;
    padding-bottom: 20px;
}
.myOrder p.h5 {
    color: #3B1900;
    margin-bottom: 15px;
}
.requestAnInterview {
    border: 1px solid #0000001F;
    border-radius: 16px;
    padding: 15px 20px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 13px -7px rgba(0, 0, 0, 0.5);
}
.requestAnInterview img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
}
.requestAnInterview {
    color: #3B1900;
}
.requestAnInterview p span {
    color: #3B190076;
}
.requestAnInterview div.rightButtons {
    margin-top: -50px;
}
.requestAnInterview div a {
    font-size: 14px;
}
.requestAnInterview span {
    color: #EF7F65;
}


.field {
    display:flex;
    position:realtive;
    /* margin:5em auto; */
    flex-direction:row;
    border-radius: 16px;
    box-shadow: 2px 3px 13px -3px rgba(0, 0, 0, 0.5);
  }
  .field>input[type=text],
  .field>button {
    display:block;
    font:1.2em 'Open sans';
    font-size: 14px;
  }
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border-radius: 16px;
    border-color: #fff;
    outline: 0;
    border:none;
    position: relative;
    width: 100%;
  }
  .field>button {
    padding:0.6em 0.8em;
    background-color: #819090;
    color: #fff;
    border:none;
    border-radius: 16px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: 2px 3px 13px -3px rgba(0, 0, 0, 0.5) !important;
    margin-left: -35px;
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
  }




